<!--
 NG-ZORRO
<a href="https://github.com/NG-ZORRO/ng-zorro-antd" target="_blank" style="display: flex;align-items: center;justify-content: center;height: 100%;width: 100%;">
  <img height="300" src="https://img.alicdn.com/tfs/TB1X.qJJgHqK1RjSZFgXXa7JXXa-89-131.svg" alt="these nutz">
</a>
-->
<h1>Gestión de Basureros</h1>
<img src='https://img.freepik.com/vector-gratis/ilustracion-icono-cubo-basura_53876-5598.jpg?w=826&t=st=1720246432~exp=1720247032~hmac=4ff747077824debf50608436ab48f8bd28de514ddfd2f6c10e54f68259181bf6' width="100" height="100">

<div *ngIf="messageService.message()">
  <div [ngClass]="{
        'message': true,
        'success': messageService.message()?.type === 'success',
        'error': messageService.message()?.type === 'error',
        'info': messageService.message()?.type === 'info'
      }">
    {{ messageService.message()?.content }}
  </div>
</div>

<nz-table #basicTable [nzData]="basureros">
  <thead>
  <tr>
    <th>Nombre</th>
    <th>Ubicación</th>
    <th>Encargado</th>
    <th>Capacidad</th>
    <th>Acciones</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of basicTable.data">
    <td>{{ data.name }}</td>
    <td>{{ data.location }}</td>
    <td>{{ data.incharge }}</td>
    <td>{{ data.capacity }}</td>
    <td>
      <button nz-button (click)="editBasurero(data)">Editar</button>
      <button nz-button nzDanger (click)="deleteBasurero(data)">Eliminar</button>
    </td>
  </tr>
  </tbody>
</nz-table>

<h2>{{ editMode ? 'Editar Basurero' : 'Agregar Basurero' }}</h2>
<form [formGroup]="basureroForm" (ngSubmit)="onSubmit()">
  <div nz-form-item>
    <div nz-form-label>
      <label for="name">Nombre</label>
    </div>
    <div nz-form-control>
      <input nz-input id="name" formControlName="name" required>
    </div>
  </div>

  <div nz-form-item>
    <div nz-form-label>
      <label for="location">Ubicación</label>
    </div>
    <div nz-form-control>
      <input nz-input id="location" formControlName="location" required>
    </div>
  </div>

  <div nz-form-item>
    <div nz-form-label>
      <label for="incharge">Encargado</label>
    </div>
    <div nz-form-control>
      <input nz-input id="incharge" formControlName="incharge" required>
    </div>
  </div>

  <div nz-form-item>
    <div nz-form-label>
      <label for="capacity">Capacidad</label>
    </div>
    <div nz-form-control>
      <input nz-input id="capacity" formControlName="capacity" required>
    </div>
  </div>

  <div nz-form-item>
    <div nz-form-control>
      <button nz-button nzType="primary" type="submit" [disabled]="basureroForm.invalid">
        {{ editMode ? 'Actualizar' : 'Agregar' }}
      </button>
    </div>
  </div>
</form>
